<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Demo">
  <test name="Data Driven Testing">
  <classes>
  <class name="project1.NewTest">
  
  </class>
  <class name="project1.T1"></class>
  <class name="project1.WebLaunch"></class>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
